<!DOCTYPE html>
<html>
<head> 	
	<meta charset="UTF-8">
	<title> Edit </title>
	<style>
		a{
			text-decoration-line: none;
			display: block;
			padding: 8px;
			float: left;
			}
			
		a:link{color:black;}
		a:visited{color:black;}
		a:hover{color:black;}
		a:active{color:black;}		
		
	</style>

</head>

<body>
		<div class="nav">
			<h1> Edit </h1>
			<font size="5"> <a href="/home"> Home </a> </font>	
			<font size="5"> <a href="/post_list"> List </a> </font> 
			<font size="5"> <a href="/post"> Post </a> </font> 
			<font size="5"> <a href="/user/login"> Login </a> </font>
			<font size="5"> <a href="/user/register"> Register </a> </font>
		</div>
		
		<br><br><br>
		<hr>
		{% if error_msg %}
		<h2> {{ error_msg }} </h2> 
		{% else %}
		<form action="." method="post">
			<textarea style="width:80%; font-size:20px; resize:none;" name="title" id="title" rows="1"> {{title}} </textarea>
			<textarea style="width:80%; font-size:20px; resize:none;" name="content" id="content" rows="20"> {{content}} </textarea>
			<br>
			<input type="submit" value="post">
		</form>
		{% endif %}
</body>

</html>