<html>
<head>
  <title>WANNA CYKOR</title>
  <meta charset="utf-8">
  
  <style> 
	.container {
		width: 250px;
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border: 5px solid lightgrey;
		border-radius: 5px;
	}

  </style>
  
 
</head>

<body>
  <div class="login" style="text-align:left;">
	<div class="container">
		<h1> 로그인 </h1>
		<p></p>
		<form action="{{ url_for('main.login') }}" method="post">
			<textarea name="userid" type="text" id="userid" rows="1"></textarea>
			<textarea name="password" type="password" id="password" rows="1"></textarea>
			<input type="submit" value="login">
		</form>

	</div>
	
  </div>
</body>
</html>