<!DOCTYPE html>
<html lang = "en">
<head>
	 <meta charset='utf-8' />
	 <title> Register </title>
	 <style>
		a{
			text-decoration-line: none;
			display: block;
			padding: 8px;
			float: left;
			}
			
		a:link{color:black;}
		a:visited{color:black;}
		a:hover{color:black;}
		a:active{color:black;}		

	 </style>
</head>

<body>
	
	<div class = "container">

		<div class="nav">
			<h1> Register </h1>
			<font size="5"> <a href="/home"> Home </a> </font>	
			<font size="5"> <a href="/post_list"> List </a> </font> 
			<font size="5"> <a href="/post"> Post </a> </font> 
			<font size="5"> <a href="/user/login"> Login </a> </font>
			<font size="5"> <a href="/user/register"> Register </a> </font>
		</div>
		
		<br><br><br>
		<hr>
		<div>
		
			<form method = "POST", action="./register">
			
			    <div class="form-group">
					<input type="text" class="form-control" id="userid" placeholder="user id" name="userid"/>
				</div>
				
				<div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="user name" name="username"/>
                </div>
				<p></p>
				<div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="password" name="password"/>
                </div>
				<div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="check password again" name="password2"/>
                </div>
				<p></p>
				{% if error_msg %}
				<div style="color:red">{{ error_msg }}</div>
				{% endif %}
				<p></p>
				<button type = "submit" class = "btn btn-primary"> Register </button>
			</form>
		
		
		</div>
	</div>
	
</body>
</html>