<!DOCTYPE html>
<html lang = "en">
<head>
	 <meta charset='utf-8' />
	 <title> Register </title>
</head>

<body>
	
	<div class = "container">
		<div class = "row mt-3">
			<h1> Register </h1>
		</div>
		<div class = "col-15">
		
			<form method = "POST", action=".">
			
			    <div class="form-group">
                    <input type="text" class="form-control" id="userid" placeholder="user id" name="userid"/>
                </div>
				<div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="user name" name="username"/>
                </div>
				<div class="form-group">
                    <input type="text" class="form-control" id="password" placeholder="password" name="password"/>
                </div>
				<p></p>
				<button type = "submit" class = "btn btn-primary"> Register </button>
			</form>
		
		
		</div>
	</div>
	
</body>
</html>